<h1>New post</h1>

<form class="" action="<%= sub_posts_url(@sub) %>" method="post">
<label>
Title
<input type="text" name="posts[title]" value="<%= @post.title %>">
</label>

<label>
Content
<input type="text" name="posts[content]" value="<%= @post.content %>">
</label>

<input type="submit" name="" value="Create Post">
</form>
